:root{
  --violeta: #28022b;
  --amarillo: #f6c706;
}
*  {
  box-sizing: border-box ; 
  padding: 0 ;
  margin: 0 ;  
}
a {
  color: var(--violeta);
  font-family: sans-serif;
  text-decoration: none;
}

body {
  font-family: sans-serif;
  background-color: var(--violeta);
}
 /*---------------------------------- INICIO NAVBAR ---------------------------------------- */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px;
}

.menu-burger{
  
}
.logo {
  width: 50%;
  margin-bottom: 5rem;
  margin-top: 2rem;

}

.cont-logo{
  display: flex;
  justify-content: center;
  
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
}

.parte-arriba{
display: flex;
flex-direction: row;
}

.parte-abajo{
  display: flex;
  flex-direction: row;
}
nav {
  background-color: var(--amarillo);
  width: 100%;
  margin-top: -50px;
}
.item-1 {
  float: right;
  width: auto;
}

.inicio{
  display: none;
}
nav a:hover {
  color: white;
}

li {
  list-style: none;
  padding: 5px;
  margin: 2px;
}

/*------------------------------------------------  FIN NAVBAR --------------------------------------------------------*/

/*--------------------------- CONTENIDO INICIO -----------------------*/
.contenedor-equipo{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.equipo {
  width: 60%;
  height: auto;
  border-radius: 3px;
  margin: 1rem;
  transition: all .5s;
  }

  .equipo:hover{
    box-shadow: 10px 10px 8px var(--amarillo);
  }

.texto-equipo {
  width: 60%;
  font-size: 18px;
  color: white;
  font-weight: 200px;
  text-align: center;
}
.contenedor-textopro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyecto {
  width: 60%;
  height: auto;
  border-radius: 3px;
  margin: 1rem;
  transition: all .5s;
}

.proyecto:hover{
  box-shadow: 10px 10px 8px var(--amarillo);
}

.texto-proyecto {
  width: 60%;
  font-size: 18px;
  color: white;
  font-weight: 200px;
  text-align: center;
 
 
}
.contenedor-video{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
h2 {
  width: 60%;
  color: var(--amarillo);
  font-size: 30px;
  font-weight: 200px;
  text-align: center;
  margin: 1rem;
}

.iframe{
  display: flex;
  justify-content: center;
  height: 450px;
}

.iframe iframe{
  position: absolute;
  height: 50%;
  width: 50%;
  
}
.video {
  margin: 1rem;
  }
/*------------------- CONTACTANOS -------------- */

  .main-contacto {
    margin: 1rem;
}

.form{
margin: 2rem;
}

input[type=text],
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #111111;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

input[type=submit] {
    background-color: var(--violeta);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--amarillo);
}

.form-contacto {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    transition: all .5s;
}
.form-contacto:hover{
  box-shadow: 10px 10px 8px var(--amarillo);
}
/*----------------- SERVICIOS ------------------ */




      .card {
        border-radius: 50px;
        transition: transform .2s, box-shadow .2s;
        margin-top: 1rem;
        gap: 5rem;
    }
    
    
    .card:hover {
       box-shadow: 10px 10px 8px var(--amarillo);
    }

.container-cartita{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}



  /*------------------------ DISEÑO GRAFICO ------------------------ */
 .cont-dgrafico{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .dgrafico {
      width: 60%;
      height: auto;
      border-radius: 3px;
      margin: 1rem;
      transition: all .5s;
      
    }
    
    .dgrafico:hover{
      box-shadow: 10px 10px 8px var(--amarillo);
    }

    .tdgrafico {
      width: 60%;
      font-size: 18px;
      color: white;
      font-weight: 200px;
      text-align: center;
     }
/*------------- SOBRE NOSOTROS ---------------- */
  .cont-nos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .nosotros {
      width: 60%;
      height: auto;
      border-radius: 3px;
      margin: 1rem;
      transition: all .5s;
      
    }
    
    .nosotros:hover{
      box-shadow: 10px 10px 8px var(--amarillo);
    }

    .tnosotros {
      width: 60%;
      font-size: 18px;
      color: white;
      font-weight: 200px;
      text-align: center;
     }
  /*-------------------- FOOTER ---------------------- */
  .footer {
    width: 100%;
    font-size: 20px;
    color: var(--violeta);
    text-align: center;
    margin-top: 1rem;
  }
  
  footer {
    background-color: var(--amarillo);
    width: 100%;
    font-family: sans-serif;
    font-weight: 550;
    margin-bottom: -20px;
  }
  
  .icon-button {
    font-size: 2rem;
    margin: 0.5rem;
  }
  
  .iconos {
    display: flex;
    justify-content: center;
  }


  /*------------------------------ MEDIA QUERY ---------------------------------*/
  @media only screen and (min-width:768px) {
    
   
    ul {
     flex-direction: row;
    }
    
    .inicio{
      display: block;
    }

    li {
      margin: 5px;
    } 

    .cont-grid{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
    }
  }