header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px; }

.logo {
  width: 50%;
  margin-bottom: 5rem;
  margin-top: 2rem; }

.cont-logo {
  display: flex;
  justify-content: center; }

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center; }

.parte-arriba {
  display: flex;
  flex-direction: row; }

.parte-abajo {
  display: flex;
  flex-direction: row; }

nav {
  background-color: #f6c706;
  width: 100%;
  margin-top: -50px; }
  nav a:hover {
    color: white; }

.item-1 {
  float: right;
  width: auto; }

.inicio {
  display: none; }

li {
  list-style: none;
  padding: 5px;
  margin: 2px; }

.video, .equipo, .proyecto, h2, .main-contacto, .card, .container-cartita, .dgrafico, .nosotros {
  margin: 1rem; }

.contenedor-equipo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.equipo {
  width: 60%;
  height: auto;
  border-radius: 3px;
  transition: all .5s; }
  .equipo:hover {
    box-shadow: 10px 10px 8px #f6c706; }

.texto-equipo {
  width: 60%;
  font-size: 18px;
  color: white;
  font-weight: 200px;
  text-align: center; }

.contenedor-textopro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.proyecto {
  width: 60%;
  height: auto;
  border-radius: 3px;
  transition: all .5s; }
  .proyecto:hover {
    box-shadow: 10px 10px 8px #f6c706; }

.texto-proyecto {
  width: 60%;
  font-size: 18px;
  color: white;
  font-weight: 200px;
  text-align: center; }

h2 {
  width: 60%;
  color: #f6c706;
  font-size: 30px;
  font-weight: 200px;
  text-align: center; }

.text-contact {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  line-height: 1.2;
  margin: 2rem;
  font-size: 1.2rem; }

.contact-img {
  width: 60%;
  height: auto;
  margin-top: 2rem;
  border-radius: 3px;
  transition: all .5s; }

img:hover {
  box-shadow: 10px 10px 8px #f6c706; }

.contact-imgg {
  display: flex;
  align-items: center;
  justify-content: center; }

.formulariocontacto {
  display: flex;
  align-items: center;
  justify-content: center; }

.form {
  margin: 2rem; }

input[type=text] {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #111111;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none; }

textarea {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #111111;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: none; }

input[type=submit] {
  background-color: #28022b;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }
  input[type=submit]:hover {
    background-color: #f6c706; }

.form-contacto {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  transition: all .5s; }
  .form-contacto:hover {
    box-shadow: 10px 10px 8px #f6c706; }

.card {
  border-radius: 50px;
  transition: transform .2s, box-shadow .2s;
  gap: 5rem; }
  .card:hover {
    box-shadow: 10px 10px 8px #f6c706; }

.container-cartita {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem; }

.cartitas {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.textservi {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  font-size: 2rem; }

.imgservicc {
  width: 60%;
  height: auto;
  margin-bottom: 3rem;
  border-radius: 3px;
  transition: all .5s; }

img:hover {
  box-shadow: 10px 10px 8px #f6c706; }

.padreservicc {
  display: flex;
  align-items: center;
  justify-content: center; }

.cont-dgrafico {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.dgrafico {
  width: 60%;
  height: auto;
  border-radius: 3px;
  transition: all .5s; }
  .dgrafico:hover {
    box-shadow: 10px 10px 8px #f6c706; }

.tdgrafico {
  width: 60%;
  font-size: 18px;
  color: white;
  font-weight: 200px;
  text-align: center; }

.cont-nos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.nosotros {
  width: 60%;
  height: auto;
  border-radius: 3px;
  transition: all .5s; }
  .nosotros:hover {
    box-shadow: 10px 10px 8px #f6c706; }

.sobrenos {
  display: flex;
  align-items: center;
  justify-content: center; }

.tnosotros {
  width: 60%;
  font-size: 18px;
  color: white;
  font-weight: 200px;
  text-align: center; }

.footer {
  width: 100%;
  font-size: 20px;
  color: #28022b;
  text-align: center;
  margin-top: 1rem; }

footer {
  background-color: #f6c706;
  width: 100%;
  font-family: sans-serif;
  font-weight: 550;
  margin-bottom: -20px; }

.icon-button {
  font-size: 2rem;
  margin: 0.5rem; }

.iconos {
  display: flex;
  justify-content: center; }

@media only screen and (min-width: 768px) {
  ul {
    flex-direction: row; }
  .inicio {
    display: block; }
  li {
    margin: 5px; }
  .cont-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr; }
  .cartitas {
    flex-direction: row; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  color: #28022b;
  font-family: sans-serif;
  text-decoration: none; }

body {
  font-family: sans-serif;
  background-color: #28022b; }

main {
  min-height: 90vh; }
