@media only screen and (min-width:768px) {
	ul {
		flex-direction: row;
	}
	.inicio {
		display: block;
	}
	li {
		margin: 5px;
	}
	.cont-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
	}
	.cartitas {
		flex-direction: row;
	}
	main {
		min-height: 90vh;
	}
	.tnosotros{
		width: 60%;
	}
	.nosotros{
		width: 60%;
	}
}