$violeta:#28022b;
$amarillo:#f6c706;

@import "navbar";
@import "sections";
@import "footer";
@import "mediaq";


//----- ESTILOS GENERALESSSSSSSSSSSS -----


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
a {
	color: $violeta;
	font-family: sans-serif;
	text-decoration: none;
}
body {
	font-family: sans-serif;
	background-color: $violeta;
}





